{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <div class="p-vertical-small">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Homepage</h2>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

