{% extends ':Frontend:base_footer_common.html.twig' %}

{% block child_title %}Privacidad{% endblock %}

{% block child_main %}
    <h1 class="main-title no-m extra-m-bottom">Privacidad</h1>
    <h4 class="main-subtitle">Protegemos su información</h4>
    <p>GRÚAS ROMANÍ, S.A., como responsable del sitio web, de conformidad con lo dispuesto en el Reglamento (UE) 2016/679 de 27 de abril de 2016 (RGPD) relativo a la protección de las personas físicas en cuanto a tratamiento de datos personales, y por la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSICE), le informa que tiene implementadas las medidas de seguridad necesarias, de índole técnica y organizativas, para garantizar y proteger la confidencialidad, integridad y disponibilidad de los datos introducidos.</p>
    <h4 class="main-subtitle">Responsable del tratamiento de datos</h4>
    <ul style="list-style: none;">
        <li><strong>Identidad: </strong>GRÚAS ROMANÍ, S.A.</li>
        <li><strong>CIF: </strong>A43030287</li>
        <li><strong>Dirección postal: </strong>Ctra. Santa Bárbara, Km. 1'5, 43870 Amposta, Tarragona.</li>
        <li><strong>Correo electrónico: </strong><a href="mailto:info@gruasromani.com">info@gruasromani.com</a></li>
    </ul>
    <h4 class="main-subtitle">Información que recabamos</h4>
    <p>Mediante el formulario de contacto obtenemos la información mínima e indispensable para la finalidad del tratamiento.</p>
    <h4 class="main-subtitle">Finalidad del tratamiento</h4>
    <p>Sus datos personales se utilizarán para las siguientes finalidades:</p>
    <ol>
        <li>Responder a las consultas y / o proporcionar informaciones requeridas por el usuario;</li>
        <li>Realizar las prestaciones de servicios y / o productos contratados o suscritos por el usuario;</li>
        <li>Realizar las gestiones comerciales y administrativas necesarias con los usuarios de la web;</li>
        <li>Utilizar sus datos para contactarle, tanto por vía electrónica como no electrónica, para obtener su opinión sobre el servicio prestado y,
        </li>
        <li>Notificar cambios, desarrollos importantes de la política de privacidad, aviso legal o política de cookies.</li>
    </ol>
    <p>Los datos de clientes y / o de proveedores serán tratados, dentro de la relación contractual que los vincula con el responsable, en cumplimiento de las obligaciones administrativas, fiscales, contables y laborales que sean necesarias en virtud de la legislación vigente.
    </p>
    <p>Puede revocar en cualquier momento su consentimiento remitiendo un escrito con el asunto "Baja" a: <a
                href="mailto:info@gruasromani.com?subject=Baja">info@gruasromani.com</a></p>
    <p>De acuerdo con la LSSICE, GRÚAS ROMANÍ, S.A., no realiza prácticas de SPAM, por lo tanto, no envía correos comerciales por e-mail que no hayan sido previamente solicitados o autorizados por el usuario. En consecuencia, en todas las comunicaciones que recibirá de GRÚAS ROMANÍ, S.A. el usuario tiene la posibilidad de cancelar su consentimiento expreso para recibir nuestras comunicaciones.</p>
    <p>No trataremos sus datos personales para ninguna otra finalidad de las descritas excepto por obligación legal o requerimiento judicial.</p>
    <p>Sus datos se conservarán mientras dure la relación comercial con nosotros o ejercite su derecho de cancelación u oposición, o limitación al tratamiento. Sin embargo, conservaremos determinados datos personales identificativos y del tráfico durante el plazo máximo de 2 años para el caso de que fuera requerido por los jueces y tribunales o para incoar acciones internas derivadas del uso indebido de la página web.
    </p>
    <h4 class="main-subtitle">Legitimación del tratamiento</h4>
    <p>La base legal para el tratamiento de los datos es su consentimiento otorgado para llevar a cabo las finalidades anteriormente descritas, que se solicitará en el momento de marcado de la casilla correspondiente en el momento de recoger sus datos.</p>
    <p>En los casos en que exista una previa relación contractual entre las partes, la legitimación para el desarrollo de las obligaciones administrativas, fiscales, contables y laborales que sean necesarias en virtud de la legislación vigente será la existencia previa de la relación comercial establecida entre las partes.</p>

    <h4 class="main-subtitle">Derechos de las personas interesadas</h4>
    <p>Como usuario-interesado, puede solicitar el ejercicio de su derecho de acceso, rectificación o supresión, cancelación, oposición y limitación del tratamiento ante GRÚAS ROMANÍ, S.A. presentando un escrito a la dirección postal del encabezamiento o enviando un correo electrónico a
        <a href="mailto:info@gruasromani.com?subject=RGPD. Ejercicio Derechos">info@gruasromani.com</a>, indicando como Asunto "RGPD. Ejercicio Derechos", y adjuntando fotocopia de su DNI o cualquier medio análogo en derecho, tal como indica la ley.</p>
    <h4 class="main-subtitle">Medidas de seguridad</h4>
    <p>Los datos que nos facilite serán tratados de manera confidencial. El prestador ha adoptado todas las medidas técnicas y organizativas y todos los niveles de protección necesarios para garantizar la seguridad en el tratamiento de los datos y evitar su alteración, pérdida, robo, tratamiento o acceso no autorizado, de acuerdo al estado de la tecnología y naturaleza de los datos almacenados. Asimismo, se garantiza también que el tratamiento y registro en ficheros, programas, sistemas o equipos, locales y centros cumplen con los requisitos y condiciones de integridad y seguridad establecidos en la normativa vigente.</p>
    <h4 class="main-subtitle">Legislación</h4>
    <p>A todos los efectos las relaciones entre GRÚAS ROMANÍ, S.A. con los Usuarios de sus servicios telemáticos, presentes en esta web, están sometidos a la legislación y jurisdicción española a la que se someten expresamente las partes, siendo competentes para la resolución de todos los conflictos derivados o relacionados con su uso los juzgados y tribunales de Amposta (Tarragona).</p>
    <h4 class="main-subtitle">Protegemos su información.</h4>
    <p>En cumplimiento del Real Decreto-Ley 13/2012, GRÚAS ROMANÍ S.A. pide tu permiso para instalar cookies con el fin de obtener datos estadísticos de tu navegación en esta página web. Al continuar utilizando este sitio web estás aceptando la instalación y el uso de cookies.
    </p>
    <p>GRÚAS ROMANÍ S.A. utiliza cookies de análisis, concretamente para que Google Analytics nos facilite datos sobre las visitas de este sitio web, siempre de forma anónima, y ​​podamos mejorar los contenidos que ofrecemos. Puede consultar más información relacionada con la privacidad de sus datos y las cookies de Google Analytics:
        <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a>
    </p>
    <p>Puedes cambiar de opinión y eliminar las cookies cuando tú quieras.</p>
    <p>Para consultar y gestionar las cookies instaladas en tu equipo tienes que cambiar la configuración de tu navegador. Encontrarás información detallada en los siguientes enlaces:</p>
    <ul>
        <li>Si navegas con <a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-">Firefox</a></li>
        <li>Si navegas con <a href="https://support.google.com/chrome/answer/95647?hl=es">Chrome</a></li>
        <li>Si navegas con <a href="https://support.microsoft.com/es-es/kb/278835
">Internet Explorer</a></li>
        <li>Si navegas con <a href="https://support.apple.com/es-es/HT201265">Safari</a></li>
    </ul>
    <p>Si necesitas más detalles sobre el uso que hacemos de las cookies escríbenos a <a href="mailto:info@gruasromani.com">info@gruasromani.com</a> y te informaremos.</p>
    <div class="alert alert-info" role="alert">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> En Grúas Romaní no nos gusta el <strong>spam</strong> y contribuimos a erradicarlo.
    </div>
{% endblock %}
