{% extends ':Frontend:base_footer_common.html.twig' %}

{% block child_title %}Privacidad{% endblock %}

{% block child_main %}
    <h1 class="main-title no-m extra-m-bottom">Privacidad</h1>
    <h4 class="main-subtitle">Protegemos su información.</h4>
    <p>Según la Ley orgánica 15/99, de 13 de diciembre, de protección de datos de carácter personal, le hacemos saber que los datos que nos pueda facilitar mediante este sitio web pasarán a formar parte de un fichero propiedad de Grúas Romaní S.A., con la única finalidad de poderle ofrecer nuestros servicios. Para ejercer su derecho de acceso, rectificación, cancelación y oposición póngase en contacto con nosotros en Grúas Romaní S.A., Ctra. Santa Bárbara, Km. 1'5, 43870 Amposta, Tarragona.</p>
    <div class="alert alert-info" role="alert">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> En Grúas Romaní no nos gusta el <strong>spam</strong> y contribuimos a erradicarlo.
    </div>
{% endblock %}
