<div class="login-box-bottom" style="margin-top:5px">
    <span>{{ admin_tag_version }}</span>
    <span class="pull-right"><a href="{{ reset_route }}"><i class="fa fa-key"></i> {{ 'forgotten_password' | trans({}, 'SonataUserBundle') }}</a></span>
</div>
