{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-success">
        <div class="box box-header">
            <h3 class="sonata-feed-title">{{ settings.title }}</h3>
        </div>
    </div>
{% endblock %}
