{% extends sonata_block.templates.block_base %}

{% block block %}
    {#<!-- small box -->#}
    <div class="small-box {{ background }}">
        <div class="inner">
            {{ content | raw }}
            <h3><i class="fa fa-list" aria-hidden="true"></i> Avui</h3>

        </div>
    </div>
{% endblock %}
